nav ul
{
    list-style-type: none;
}

nav ul li
{
    display: inline;
    margin-right: 20pc;
}

nav ul li a
{
    text-decoration: none;
    color: black;
}

body
{
    background-color: #191970;
}

h1, p
{
    color: #363636;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #B0C4DE;
}

.nav
{
    flex: 1;
}

.navList
{
    list-style: none;
    display: flex;
    gap: 8px
}

.navList li
{
    border-right: 1px solid #363636;
    padding-right: 8px;
    align-items: center; 
}

.navList li:last-child
{
    border-right: none;
}

.navList li
{
    border-right: 1px solid #363636;
}

.navList a
{
    text-decoration: none;
    color: #363636;
    font-weight: 500;
}


.conteudoPrincipal
{
    max-width: 800px;
    margin: 32px auto;
    padding: 0 16px;
    background-color: #B0C4DE;
}


.conteudoPrincipal h1
{
    margin-bottom: 8px;
    border-bottom: 2px solid #191970;
    padding-bottom: 4px;
    font-size: 25px;
}

#quemSou
{
    padding:20px;
    background-color: #B0C4DE;
    border-radius: 4px;
    text-align: justify;
}

#habilidades
{
    padding: 20px;
    background-color: #B0C4DE;
    border-radius: 4px;
}

#habilidades ul
{
    lListtyle: disc inside;
    margin-top: 10px;
}

#habilidades li
{
    margin-bottom: 5px;
}

.dadosPessoais
{
    padding: 20px;
    background-color: #B0C4DE;
    border-radius: 4px;
}

.dadosContainer
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

.divDados
{
    flex-basis: 45%;
}

.divDados.perfil
{
    flex: 0 0 auto;
}

.imagem
{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border: 2px solid #191970;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
    background-color: #B0C4DE;
    margin-top: auto;
}

.footer p
{
    margin: 0;
}

.linkGit
{
    display: inline-block;
}

.githubIcon
{
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: filter .2s;
}

.header-content {
    max-width: 1000px; /* mesmo valor do conteúdo da sua página */
    margin: 0 auto;    /* centraliza a div */
    padding: 10px 0;
    
    
  }
  
  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 60px; /* ou o espaçamento que preferir */
  }

  header {
    width: 100%;
    background-color: lightsteelblue; /* ou a cor que está usando */
  }

  .menu li {
    border-right: 1px solid #000;
    padding-right: 10px;
  }
  
  .menu li:last-child {
    border-right: none;
  }